.game-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#grid-container {
    border-style: solid;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.errors {
    color: rgb(250, 106, 106);
}